<!DOCTYPE html>
<html lang="en">
     
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        {% load i18n %}

        <title>{% trans "Reset Password" %} </title>

        
         <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'heaven_project_code/styles.css' %}">
    </head>
    
    <body>
        
        <div class="navigation_bar">
                <!--Navigation Bar-->
                <div class="navigation_container">

                    <ul class="nav-bar" id="nav-bar">
                        <li><a href="{% url 'home' %}">{% trans "About" %}</a></li>
                        <li><a href="{% url 'services' %}">{% trans "Find Support" %}</a></li>
                        <li><a href="{% url 'chatbot' %}">{% trans "Chatbot" %}</a></li>

                        <li><!--Dropdown for mobile view -->
                            <div class="dropdown">
                                <!--displaying profile image-->
                                {% if user.profile.profile_image %}

                                    <img class="profile_picture" src="{{user.profile.profile_image.url}}"/>

                                {% else %}

                                    <img src="{% static 'heaven_project_code/images/nav_bar/profile_icon.svg' %}" width=75px>
                                    
                                {% endif %}
                                <!--Showing content when user hovers-->
                                <div class="dropdown-content">    
                                
                                    {% if user.is_authenticated %}
                                    <p style="width: 13px"> {{user.username}}</p>
                                        
                                    <form action="{% url 'logout' %}" method="post"> 
                                            {% csrf_token %}
                                        <button class="log-out-button"> {% trans "Log Out" %} </button>
                                    </form>

                                    <form action="{% url 'delete_account' %}" method="post" onsubmit="
                                    return confirm('{% trans "This will permanently delete your account, Are you sure?" %}');">
                                            {% csrf_token %}
                                        <button class="delete-account-button">  {% trans "Delete Account" %}</button>
                                    </form>

                                    <a href="{% url 'edit_account' %}">{% trans "Edit Account" %}</a>
                                    
                                    {% else %} 
                                    
                                    <a href="{% url 'login' %}">{% trans "Login"%}</a>
                                    <a href="{% url 'register' %}"> {% trans "Register"%} </a>

                                    {% endif %}

                                
                                </div>
                            </div>
                        </li>
                                
                        
                    </ul>
                    
                    <!--function to active the nav bar-->
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>

                </div>
        </div>

        
        <!--Container to reset password-->
        <div class="login_container">

            <u style="text-align: center"><p>{% trans "Reset Password" %}</p></u>

            <img src="{% static 'heaven_project_code/images/login_page/Clouds.avif' %}" width=400px class="login-page-img">

            <br>
            <br>
            
            <!--Form to reset the password-->
            <form method = "post" class ="fields">
                {% csrf_token %}
                {{ form }}

                <br>

                <button type ="submit"  class="btn" style="margin-left: 18%; border-radius: 10px;">{% trans  "Submit"%}</button>
            
            
            </form>
           
            
            <br>
            
            
            <br>
            <br>
              

        </div>
        
        <!--Footer-->
        <div class="footer"> 
            <h1 style="text-align: center;">{% trans "Footer" %} </h1>
            
            <p>© 2026 Haven Project</p>
            <p> {% trans "Email" %}: w1985568@westminster.ac.uk</p>
            
            <p></p>
            
            <!--Form to select languages-->
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                {% get_available_languages as LANGUAGES %}
                {% get_current_language as LANGUAGE_CODE %}

            
                <select name="language" class="custom-select">
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected {% endif %}>
                            {{ lang.1 }} 
                        </option>
                    {% endfor %}
                </select>

                  
                <button type="submit" class="btn btn-default">{% trans "Save" %} </button>
              
            
            </form> 


        </div>

        <script> 
            // Function to active the navigation bar
           function myFunction() {
              var x = document.getElementById("nav-bar");
              x.classList.toggle("active")

           }

            function TextToSpeech(element) {
                
                 // Getting the icon
                 const icon = element.querySelector("i")
                   
                   // Generates new audio once button has been clicked for each element.
                   if (!element.audio) {
                      const audioSrc = element.dataset.audio;
                      element.audio = new Audio(audioSrc)

                      element.audio.onended = () => {
                        icon.classList.remove("fa-pause", "fa-play");
                        icon.classList.add("fa-volume-up");
                        element.audio = null;
                      };
                   }
                
                   // Toggle pause and play
                   if (!element.audio.paused) {
                        element.audio.pause()
                        
                        // Changes Icon
                        icon.classList.remove("fa-pause")
                        icon.classList.add("fa-play")
                    
                    }
                    //Continues Playing Audio
                    else {
                        // Changes Icon
                         icon.classList.remove("fa-play")
                         icon.classList.add("fa-pause")

                         element.audio.play()
                    }
                
                }

           
        </script>

        
 
    </body>
</html>
