{% extends "heaven_project_code/base_template/food_base.html"%}


{% load static %}

{% load i18n %}

{% csrf_token %}

{% load gtts_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
Food Bank Details
{% endblock %}

{% trans "Unknown" as unknown_text %}


{% block content %}


<div class="main-section">
    
    <div class="information"> 
        <h1>   
               {% trans  "Name" as name_text %}
             
               {{ name_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE name_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
               

        </h1>
        {% if food_bank.name %} 
           <p> {{food_bank.name}}</p>
        {% else %}
           <p>  
                
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}
        
        <h1> 
          
         {% trans  "City" as city_text %}
             
               {{ city_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
                  data-audio="{% say LANGUAGE_CODE city_text %}">
                  <i class="fa fa-volume-up"></i>
               </a>

        </h1>
        {% if food_bank.city %} 
           <p> {{food_bank.city}}</p>
        {% else %}
           <p> 
               
            {{ unknown_text }}
              
          
      

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}

        <h1>  
           
           {% trans  "Country" as country_text %}
             
               {{ country_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE country_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

        </h1>
        {% if food_bank.country %} 
           <p> {{food_bank.country}}</p>
        {% else %}
           <p>  
              
         
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}

        <h1> 
            
         {% trans  "Address" as address_text %}
             
               {{ address_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE address_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

        </h1>
        {% if food_bank.address %} 
           <p> {{food_bank.address}}</p>
        {% else %}
           <p>
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
           </p>
        {% endif %}
        

        <h1> 
            
          {% trans  "Post Code / Zip Code" as post_code %}
             
               {{ post_code }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE post_code %}">
               <i class="fa fa-volume-up"></i>
               </a>

        </h1>
        {% if food_bank.postcode %} 
           <p> {{food_bank.postcode}}</p>
        {% else %}
           <p> 
               
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}

        <h1>  

             {% trans  "Category" as category_text %}
             
               {{ category_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE category_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
        </h1>
        {% if food_bank.category %} 
           <p> {{food_bank.category}}</p>
        {% else %}
           <p> 

               
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
           </p>
        {% endif %}

        <h1> 

            {% trans  "Opening Times" as opening_text %}
             
               {{ opening_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE opening_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
        </h1>
        {% if food_bank.opening_times %} 
           <p> {{food_bank.opening_times}}</p>
        {% else %}
           <p> 
               
            
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}
        



        <h1>  

             {% trans  "Phone Number" as phone_text %}
             
               {{ phone_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE phone_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
        </h1>
        {% if food_bank.phone_number %} 
           <p> {{food_bank.phone_number}}</p>
        {% else %}
           <p> {% trans "Unknown" %} 
               
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}

        <h1> {% trans "Type" %} 
              
             {% trans  "Type" as type_text %}
             
               {{ type_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE type_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

        </h1>
        {% if food_bank.type %} 
           <p> {{food_bank.type}}</p>
        {% else %}
           <p> {% trans "Unknown" %} 
               
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

           </p>
        {% endif %}

        <h1> {% trans "Extra Information" %}
             
           {% trans  "Extra Information" as extra_text %}
             
               {{ extra_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE extra_text %}">
               <i class="fa fa-volume-up"></i>
               </a>

        </h1>
        {% if food_bank.info %} 
           <p> {{food_bank.info}}</p>
        {% else %}
           <p> 
             
               {{ unknown_text }}

               <a href="javascript:void(0);" class="icon" onclick="TextToSpeech(this)"
               data-audio="{% say LANGUAGE_CODE unknown_text %}">
               <i class="fa fa-volume-up"></i>
               </a>
           </p>
        {% endif %}


        <!-- W3Schools used for Google Maps -->
       
        <h1>My First Google Map</h1>
         

         <iframe
            src="https://www.google.com/maps?q={{ food_bank.latitude }},{{ food_bank.longitude }}&z=17&output=embed"
            width="400"
            height="450">
         </iframe>
        
        <br>

        <form method = "post" class ="fields">
               {% if user.is_authenticated %}
                     {% csrf_token %}
                     {{ form }}

                     <button type = "submit" class="btn" style="margin-left: 20%; border-radius: 10px;"> {% trans  "Submit"%} </button>

               {% else %}
                     <p style="text-align:center"> Log in to leave a review! </p>
               {% endif %}
         

                <br>
            
            </form>

             <div class="card-wrapper">
                  {% for review in reviews %}
                        <div class="review-card">

                           {% if review.user.profile.profile_image %}

                                <img class="profile_picture" src="{{review.user.profile.profile_image.url}}"/>

                           {% else %}

                                <img src="{% static 'heaven_project_code/images/nav_bar/profile_icon.svg' %}" width=75px>
                                
                           {% endif %}
                           
                           <h3>{{ review.name }} </h3>
                           <p>{{ review.get_rating_display }} </p>
                           <p> Easy Access: {{ review.get_easy_access_q_display }} </p>
                           <p> Staff Were Friendly: {{ review.get_staff_q_display }} </p>
                           <p> Recommend to others: {{ review.get_recommend_q_display }}</p>
                            
                           {% if review.user == request.user %} 
                             <a href="{% url 'delete_review_foodbank' review.pk %}" class="btn"> Delete </a> <br><br><br>
                             <a href="{% url 'update_review_foodbank' review.pk %}" class="btn"> Update </a>
                           {% endif %}
                              
                        </div>
                  {% endfor %}
             </div>

    </div>
</div>



{% endblock %}