<!DOCTYPE html>
<html>
   
    <head>
        {% load static %}
        {% load i18n %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% trans "Email Verification "%}</title>
        

        
         <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'heaven_project_code/styles.css' %}">
    </head>
    
    <body>
        
        <div class="navigation_bar">
            <!--Navigation Bar-->
                <div class="navigation_container">

                    <ul class="nav-bar" id="nav-bar">
                        <li><a href="{% url 'home' %}">{% trans "About" %}</a></li>
                        <li><a href="{% url 'services' %}">{% trans "Find Support" %}</a></li>
                        <li><a href="{% url 'chatbot' %}">{% trans "Chatbot" %}</a></li>

                        <li><!--Dropdown for mobile view -->
                            <div class="dropdown">
                                {% if user.profile.profile_image %}
                                <!--displaying profile image-->
                                <img class="profile_picture" src="{{user.profile.profile_image.url}}"/>

                                {% else %}

                                    <img src="{% static 'heaven_project_code/images/nav_bar/profile_icon.svg' %}" width=75px>
                                    
                                {% endif %}
                                <!--Showing content when user hovers-->
                                <div class="dropdown-content">    
                                
                                    {% if user.is_authenticated %}
                                    <p style="width: 13px"> {{user.username}}</p>
                                        
                                    <form action="{% url 'logout' %}" method="post"> 
                                            {% csrf_token %}
                                        <button class="log-out-button"> {% trans "Logout" %} </button>
                                    </form>

                                    <form action="{% url 'delete_account' %}" method="post" onsubmit="
                                    return confirm('{% trans "This will permanently delete your account, Are you sure?" %}');">
                                        {% csrf_token %}
                                        <button class="delete-account-button"> {% trans "Delete Account" %} </button>
                                    </form>

                                    
                                    <a href="{% url 'edit_account' %}" class="edit_account_link">{% trans "Edit Account" %}</a>
                                    
                                    {% else %} 
                                    
                                    <a href="{% url 'login' %}">{% trans "Login" %}</a>
                                    <a href="{% url 'register' %}">{% trans "Register" %} </a>

                                    {% endif %}

                                
                                </div>
                            </div>
                        </li>
                                
                        
                    </ul>
                    
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>

                </div>
        </div>

        <div class="main-section-home"> 

            <p>  

                {% trans  "Once Verified, your email will be saved." as verify %}
    
                {{ verify }}

                
            </p>
            

        </div>


        <div class="footer"> 
            <h1 style="text-align: center;"> Footer </h1>
            
            <p>© 2026 Haven Project</p>
            <p> Email:  w1985568@westminster.ac.uk</p>
            
            <p></p>
            
            

        </div>
        
 
    </body>
</html>